@import './variables.scss';

@font-face {
    font-family: 'Barlow Condensed Regular';
    src: url('../../public/fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Bellefair Regular';
    src: url('../../public/fonts/Bellefair-Regular.ttf');
}


body{
    margin:0;
}

h1{
    font-family: 'Bellefair Regular';
    font-size: 150px;
    color: $White;
}

h2{
    font-family: 'Bellefair Regular';
    font-size: 100px;
    color: $White;
}

h3{
    font-family: 'Bellefair Regular';
    font-size: 56px;
    color: $White;
}

h4{
    font-family: 'Bellefair Regular';
    font-size: 32px;
    color: $White;
}

h5{
    font-family: 'Barlow Condensed Regular';
    font-size: 32px;
    color: $LightBLue;
    letter-spacing: 4.75px;
}

.subHeading1{
    font-family: 'Bellefair Regular';
    font-size: 28px;
    color: $White;
}

.subHeading2{
    font-family: 'Barlow Condensed Regular';
    font-size: 14px;
    color: $White;
    letter-spacing: 2.35px;
}

.navText{
    font-family: 'Barlow Condensed Regular';
    font-size: 16px;
    color: $White;
    letter-spacing: 2.7px; 
}