@import './variables.scss';

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../../public/fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Barlow';
    src: url('../../public/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Bellefair';
    src: url('../../public/fonts/Bellefair-Regular.otf');
}


body{
    margin:0;
}

h1{
    font-family:'Bellefair', serif;
    font-size: 9.375rem;
    color: $White;
    font-weight: 400;
    margin:0;
}

h2{
    font-family: 'Bellefair', serif;
    font-size: 6.25rem;
    color: $White;
    margin:0;
}

h3{
    font-family: 'Bellefair', serif;
    font-size: 3.5rem;
    color: $White;
    margin:0;
}

h4{
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    color: $White;
    margin:0;
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;
    color: $LightBLue;
    letter-spacing: 4.75px;
    margin:0;
    font-weight: 400;
}

.subHeading1{
    font-family: 'Bellefair', serif;
    font-size: 1.75rem;
    color: $White;
    margin:0;
}

.subHeading2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: .875rem;
    color: $White;
    letter-spacing: 2.35px;
    margin:0;
}

.navText{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    color: $White;
    letter-spacing: 2.7px; 
}

p{
    font-size: 1.125rem;
    color: $LightBLue;
    font-family: 'Barlow', sans-serif;
    line-height: 32px;
}

.pageTitle{
    color: $White;
    position: absolute;
    left: 166.5px;
    top: 212px;
    span{
        font-weight: bold;
        margin-right: 1.95vw;
        opacity: .25;
    }
}