@import './variables.scss';

.crewPage{
    .crewInfo{
        position: absolute;
        top: 44.44%;
        left: 11.56%;
        z-index: 1;
        h4{
            opacity: .5;
            margin-bottom: 1.66vh;
        }
        h3{
            max-width: 30vw;
        }
        p{
            width: 30.83vw;
            margin-top:1.88vh;
        }
    }
    img{
        position: absolute;
        bottom:0;
        right: 9.51vw;
        z-index: 0;
    }
    .navDots{
        position: absolute;
        left: 11.6vw;
        bottom: 6.52vh;
        height: 15px;
        width: 138px;
        display: flex;
        justify-content: space-between;
        .navDot{
            width: 15px;
            height: 15px;
            background-color: $White;
            border-radius: 100px;
            opacity: .25;
        }
        .navDot:hover{
            opacity:.5;
        }
        .active{
            opacity:1;
        }
        .active:hover{
            opacity: 1;
        }
    }
}
