@import './variables.scss';

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 4.44vh;
    right: 0;
    position: absolute;
    width: 96.5vw;
    .navBarLogo{
        width: 5.3vh;
        height: auto;
    }
    .navBarHamburger{
        display: none;
        cursor: pointer;
    }
}

.navBarListWrapper{
    height: 96px;
    width: 57.6vw;
    backdrop-filter: blur(40px);
    background-color: rgba($White, .04);
    display: flex;
    justify-content: center;
}

.navBarList{
    width:540px;
    height: 96px;
    padding-right:2.92vw;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap:48px;
        align-items: center;
        margin:0;
        padding: 0;
        li{
            align-items: center;
            line-height: 96px;
            a{
                text-decoration: none;
                color:$White;
                display: block;
            }
            a:hover{
                border-bottom: 3px solid $Grey;
            }
            .active{
                border-bottom: 3px solid $White;
            }
            .active:hover{
                border-bottom: 3px solid $White;
            }
            span{
                font-weight:bold;
            }
        }
    }
}
.navBarLine{
    width: 32.7vw;
    height: 1px;
    background-color: rgba(#BCBCBC, .256);
    position: relative;
    left: calc(10vw - 80px);
    z-index: 10;
}

@media screen and(max-width: 1023px) {
    .navBar{
        top:0;
    }
    .navBarLine{
        display: none;
    }

    .navBarListWrapper{
        width:450px;
    }

    .navBarList{
        padding-right:0;
        width: inherit;
        ul{ 
            gap: 37px;
            span{
                display: none;
            }
        }
    }
}

@media screen and(max-width: 500px){
    .navBar{
        top: 24px;
        left: 24px;
        width: calc(100vw - 48px);
        .navBarHamburger{
            display: block;
            height: 21px;
            width: 24px;
        }
    }

    .navBarClose{
        position: absolute;
        right: 27px;
        top: 33.95px;
        width: 19px;
        height: 19px;
    }

    .navBarListWrapper{
        height: 100vh;
        width: 67.73vw;
        z-index: 10;
        position: fixed;
        right: -67.73vw;
        top:0;
        transition: all 1s;
    }

    .navBarList{
        height: 100vh;
        ul{
            flex-direction: column;
            gap:32px;
            position: relative;
            left: 32px;
            top: 118px;
            li{
                width: 59.2vw;
                display: flex;
                flex-direction: row;
                line-height: 31px;
                a{
                    width: 90%;
                }
                span{
                    display: inline-block;
                }
                a:hover{
                    border-bottom: none;
                }
                .active{
                    border-right: 4px solid $White;
                    border-bottom: none;
                }
                .active:hover{
                    border-bottom: none;
                }
            }
        }
    }
}