@import './variables.scss';

.technologyPage{
   img{
    position:absolute;
    right:0;
    bottom: 11.22vh;
    width:35.76vw;
    height: auto;
   } 

   .technologyPageInfo{
    width: 30.8vw;
    height: 303px;
    position: absolute;
    top: 42.55vh;
    left: 22.57vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   }
   .navText{
    color: $LightBLue;
   }
   .techNav{
        position: absolute;
        left: 11.45vw;
        top: 42.55vh;
        height: 303px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .techDot{
            height: 78px;
            width: 78px;
            border-radius: 100%;
            line-height: 78px;
            text-align: center;
            font-weight: 500;
            border: 1px solid rgba($White, .25)
        }
        .active{
            background-color: $White;
            border-color: rgba($White, 1);
            color: $DarkBlue;
        }

        .techDot:hover{
            border-color: rgba($White, 1);
        }
   }

}

@media  screen and (max-width: 1023px) {
    .technologyPage{
        img{
            top: 220px;
            width:100%;
        } 

        .technologyPageInfo{
            width: 458px;
            height: 237px;
            top: 690px;
            left: 155px;
            text-align: center;
           }

        .techNav{
            left: 36.33vw;
            top: 57.45vh;
            height: 60px;
            width: 210px;
            flex-direction: row;
            .techDot{
                height: 56px;
                width: 56px;
                line-height: 56px;
                border: 1px solid rgba($White, .25)
            }
        }
    }
}

@media  screen and (max-width: 500px) {
    .technologyPage{
        img{
            top: 139px;
            width:100%;
            height: 170px;
        } 

        .technologyPageInfo{
            width: 327px;
            height: 220px;
            top: 409px;
            left: 24px;
           }

        .techNav{
            left: 112px;
            top: 343px;
            height: 40px;
            width: 152px;
            flex-direction: row;
            .techDot{
                height: 38px;
                width: 38px;
                line-height: 38px;
                border: 1px solid rgba($White, .25)
            }
        }
    }
}